@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

Html {
  font-size: 62.5%;
}

header {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 100%;
}

.logo {
  margin-left: 10px;
}

.menu {
  margin-right: 10px;
}

.menu-desktop{
  display: none;
}

.menu-d {
  display: flex;
  text-decoration: none;
  gap: 10px;
  
}

.menu-d li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  gap:10px;
  
}


h1::before{
  content: url("../images/Cat.png");
  font-size: 3rem;
}

h1::after{
  content: url("../images/Dog.png");
}

.b-comederos:hover{
  transform: rotate(360deg);
  transition: 1s;
  cursor:pointer;
}

.white{
  color: white;
}

.contain1 {
  background-image: url("../images/platocomida-mobil.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 440px;
}

.text1 h2 {
  font-size: 2.5rem;
  background-color: white;

  width: 300px;
  height: 30px;
  text-align: center;
  margin: 15px;
}

.text2 {
  margin-right: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.text2 button {
  background-color: #f0a83e;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
}

.box-destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
}

.menu-gap{
    text-align: center;
}

.menu-intermedio ul li{
    display: inline-block;
}
.menu-intermedio ul a{
    font-size: 1.5rem;
    text-decoration: none;
    color:#666666;
}

.img-centrales{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;

}

.img1{
    background-image: url("../images/churrasco.png");
    height: 240px;
    width: 230px;
}

.img2{
    background-image: url("../images/comedero.png");
    height: 240px;
    width: 230px;
}

.img3{
    background-image: url("../images/Hueso.png");
    height: 240px;
    width: 230px;
}
.toy {
    position: relative;
    top: 20.1rem;
    right: 0.6px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.toy-price{
    color: #F0A83E;
}

.contacto{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #3C2313;
    font-size: 4rem;
    gap: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}

.formulario input{
    border-radius: 10px;
    background-color: #3C2313;
    color: white;
    height: 33px;
    width: 200px;
    margin-right: 10px;
    align-self: center;
}

.botones{ display: flex;
    gap:10px;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin: 27px;
}
.boton-gris{
    width: 170px;
    height: 35px;
    border-radius: 20px;
    background-color: #8A8787;
    color: white;
    
}

.boton-naranja{
    width: 170px;
    height: 35px;
    border-radius: 20px;
    background-color: #f0a83e;
    color: white;
}

fieldset{
  border: transparent;
}

.box-comment{
  align-items: center;
  color: #3C2313;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  font-size: 3rem;
  
}

textarea{
  resize: none;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 172px;
}
.pre-footer{
  background-color: #f0a83e;
  height: 89px;
  width: 100%;
  
}

.sus-title{
  display: flex;
  gap:10px;
  color: white;
  justify-content: center;
  align-content: center;
  margin-top: 10px;

}

.sus-title h3{
  font-size: 2rem;

}

.sus-title h3::before {
  content: url("../images/enviarcorreo.png");
  position: relative;
  top: 10px;
  margin: 0 16px;
}

img.enviar-correo{
  position: relative;
  bottom: 8px;
  right: 16px;
}


.sus{ display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;

}

.sus1 input{
  border-radius: 20px;
  background-color: white;
  height: 28px;
  width: 226px;
  text-align: center;

}

.sus-button{
  border-radius: 20px;
  background-color: #3C2313;
  color: white;
  height: 33px;
  width: 110px;
}

footer{
  background-color: #3C2313;
  height: 330px;
}

.desktop{
  display: none;
  justify-content: space-between;
  align-items: center;
}
.mobile h2{
  font-size: 3rem;
  text-align: center;
  padding: 25px;
}

.logo h2 {
  font-size: 3rem;

}
.logo h2::before{
  content: url("../images/Cat.png");
}

.logo h2::after{
  content: url("../images/Dog.png");
}

.logo-footer{
  position: relative;
  left: 115px;
  margin: 15px;
}

.mobile h2::before{
  content: url("../images/Cat.png");
}
.mobile h2::after{
  content: url("../images/Dog.png");
}


.contacto-footer{
  display: flex;
  flex-direction: column;
  margin-left: 65px;

}

.d-reservados{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
}


@media screen and (min-width: 600px){

  .menu{ display:none
    
  }
  .menu-desktop{
    display: inline-block;
  }

  .menu-enlace:visited{
    color:blue;
  }


  .menu-enlace::before {
    content: url("../images/pawprint.png");
  }

  .contain1{
    background-image: url("../images/plattocomida.png");
    background-position: center;
    background-size: cover;
    
  }
  .text1 h2 {
    font-size: 2.5rem;
    background-color: white;
    padding: 6px;
    width: 323px;
    height: 44px;
    text-align: center;
    margin: 3px;
  }

  .img-centrales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.mobile{
  display: none;
}


.pre-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


}